# ID da planilha entre /d/ e /edit na URL do Google Sheets
GOOGLE_SHEETS_ID=1ExgwfrUZy9a_aKla_Q4qgfgCY3Rm5cCchDMxPcYU05g

# Os nomes das abas podem ser alterados caso necessário
BASE_SHEET_NAME=BASE
QUALITY_SHEET_NAME=QUALIDADE
